.messages-list {

  .message {
    padding: 3px;
    overflow: auto;
    margin-bottom: 3px;
    font-size: 14px;

    .content {
      border-radius: 10px;
      padding: 5px 10px;
    }

    &.request-message {
      .content {
        float: right;
        color: white;
        background-color: rgb(0, 188, 212);;
      }
    }
    &.response-message {
      .content {
        float: left;
        color: white;
        background-color: rgb(255, 64, 129);;
      }
    }
  }
}